@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/open-sans-regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/open-sans-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: Kingthings;
  src: url("fonts/kingthings-petroff.woff2");
  font-display: swap;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #FFF;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#bloc-6 a {
  font-size: 1.8rem;
}

a, button {
  transition: all .3s ease-in-out;
  outline: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

blockquote {
  margin: 0;
}

blockquote>p {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
}

button {
  outline: none;
}

cite {
  font-size: 1.6rem;
  color: #575757;
}

footer {
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100px;
  padding: 25px 40px 25px 0;
}

@media (min-width: 375px) {
  footer {
    padding: 25px 0;
  }
}

footer a {
  color: rgba(255, 255, 255, 0.6);
}

footer a:hover {
  color: #fff;
}

footer a:not(:first-child) {
  margin-left: 12px;
}

@media (min-width: 768px) {
  footer a:not(:first-child) {
    margin-left: 50px;
  }
}

h1, h2, h3, .btn, a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #333;
}

h1 {
  font-size: 2.4rem;
  color: #b65e41;
  margin: 0;
}

h2 {
  font-size: 2.2rem;
  line-height: 1.4em;
  margin: 0;
}

h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  margin: 0;
}

p {
  font-size: 1.6rem;
  color: #575757;
  margin: 0;
}

label {
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
}

/* #region Mise en page */

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.m-auto {
  margin: 0 auto;
}

.max-width-1000 {
  max-width: 1000px;
  margin: 0 auto;
}

.max-width-600 {
  max-width: 600px;
}

.max-width-300 {
  max-width: 300px;
}

.mb-50 {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .mb-50 {
    margin-bottom: 25px;
  }
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-25-tel {
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .mb-25-tel {
    margin-bottom: 0px;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-25 {
  margin-right: 25px;
}

@media (max-width: 768px) {
  .mr-25 {
    margin-right: 0;
  }
}

.p-50 {
  padding: 50px;
}

@media (max-width: 425px) {
  .p-50 {
    padding: 25px;
  }
}

.portfolio-1 {
  margin-bottom: 25px;
}

/* #endregion Mise en page */

/* #region Background */

.bloc {
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.webp .bg-banniere {
  background-image: url("img/banniere.webp");
}

.no-webp .bg-banniere {
  background-image: url("img/banniere.jpg");
}

.webp .bg-presentation {
  background-image: url("img/presentation.webp");
}

.no-webp .bg-presentation {
  background-image: url("img/presentation.jpg");
}

.texture-paper::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("img/texture-paper.png");
}

.parallax {
  background-attachment: fixed;
}

.bgc-beige {
  background-color: rgba(165, 147, 99, 0.7);
}

.bgc-dark-slate-blue {
  background-color: #364577;
}

.bgc-atomic-tangerine {
  background-color: #b65e41;
}

/* #endregion Background */

/* #region Boutons  */

.btn-atomic-tangerine {
  background: #b65e41;
  color: #fff;
}

.btn-atomic-tangerine:hover {
  background: #c27956;
  color: #fff;
}

.btn-clean {
  border: 1px solid rgba(0, 0, 0, .08);
  border-bottom-color: rgba(0, 0, 0, .1);
  text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
  box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15);
}

.btn-rd {
  border-radius: 40px;
}

.btn-text {
  color: #fff;
  text-transform: uppercase;
  padding: 10px 25px;
  font-size: 1.8rem;
  font-weight: 700;
}

/* #endregion Boutons */

/* #region Header */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font: 2.6rem Kingthings, cursive;
  color: #000;
  padding: 25px 0 25px 25px;
}

@media (max-width: 375px) {
  .navbar-brand {
    padding: 25px 0 25px 15px;
  }
}

.navbar-brand img {
  margin-right: 10px;
  height: 35px;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-toggler {
  font-size: 2rem;
  margin: 25px 25px 25px 0;
  border-style: none;
  padding: 0;
}

@media (max-width: 375px) {
  .navbar-toggler {
    margin: 25px 15px 25px 0;
  }
}

.navbar-nav {
  font-size: 1.8rem;
  padding: 25px 25px 25px 0;
}

@media (max-width: 992px) {
  .navbar-nav {
    padding: 0 25px 25px;
  }
}

.navbar-nav li:not(:last-child) {
  margin-right: 10px;
}

.nav-link {
  color: #575757 !important;
}

.nav-link:hover {
  color: #333 !important;
}

/* #endregion Header */

.adresse {
  text-transform: none;
}
.adresse em {
  font-weight: 400;
}

.br-img {
  border-radius: 5px;
}

.et {
  font-size: 60px;
  color: #364577;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  border-color: #364577;
  margin-bottom: 15px;
}

.form-control {
  font-size: 1.6rem;
  border: none;
  color: #333;
}

.form-control:focus {
  font-size: 1.6rem;
  background-color: rgb(224, 242, 255);
  transition: all 0.5s;
}

.form-control:focus:invalid {
  background-color: rgb(255, 200, 202);
}

.logo {
  width: 100px;
  margin-bottom: 10px;
}

.map {
  width: 250px;
  border-radius: 5px;
}

@media (min-width:425px) {
  .map {
    width: 350px;
  }
}

@media (min-width:768px) {
  .map {
    width: 600px;
  }
}

.scrolltotop {
  font-size: 20px;
  font-style: normal;
  position: fixed;
  right: 29px;
  bottom: 29px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all .3s;
  color: rgba(255, 255, 255, .6);
  background-color: rgba(0, 0, 0, .3);
}

.scrolltotop:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, .4);
}

.text-logo {
  font: 4.4rem Kingthings, cursive;
  color: #fff;
}

.text-white {
  color: #fff;
}

.underline {
 text-decoration: underline;
}
